*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gif{
    height: 350px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
}
h2{
    text-align: center;
    font-size: 2.5em;
    margin: 15px 0;
    color: #444;
}

span {
    color:#fb6689ff;
}
.btn-group{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button{
    position: absolute;
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #fb6689ff;
}

button:nth-child(1){
    margin-left: -200px;
    background: #fb6689ff;
}
button:nth-child(2){
    margin-right: -200px;
    background-color: white;
    color: #fb6689ff;
}
.slidecontainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Set background color */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: linear-gradient(to right, #fb6689ff 0%, #fb6689ff 50%, transparent 50%, transparent 100%); /* Set initial pink color */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fb6689ff; /* Set pink color for thumb */
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fb6689ff; /* Set pink color for thumb */
    cursor: pointer;
}
.confirm{
            padding: 10px;
            cursor: pointer;
            position: relative;
            color: #fb6689ff;
            bottom: -20px;
    display: block; /* Make it a block-level element */
    margin: 0 auto; /* Center horizontally */
}
#errorMessage{
    color: #a10d0d;
    font-size: 1.2em;
}
.sun{
    padding: 10px;
    display: block; /* Make it a block-level element */
    margin: 0 auto;
    height: 450px;
    width: 55%;
    top: 30px;
    border-radius: 10%;

}